In [482]:
import json

In [14]:
f = open("yelp_academic_dataset_business.json","r")

In [19]:
with open('yelp_academic_dataset_business.json') as f:
    res_lst = [json.loads(line) for line in f]

In [128]:
res_lst[:3]

[{'business_id': '6iYb2HFDywm3zjuRg0shjw',
  'name': 'Oskar Blues Taproom',
  'address': '921 Pearl St',
  'city': 'Boulder',
  'state': 'CO',
  'postal_code': '80302',
  'latitude': 40.0175444,
  'longitude': -105.2833481,
  'stars': 4.0,
  'review_count': 86,
  'is_open': 1,
  'attributes': {'RestaurantsTableService': 'True',
   'WiFi': "u'free'",
   'BikeParking': 'True',
   'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",
   'BusinessAcceptsCreditCards': 'True',
   'RestaurantsReservations': 'False',
   'WheelchairAccessible': 'True',
   'Caters': 'True',
   'OutdoorSeating': 'True',
   'RestaurantsGoodForGroups': 'True',
   'HappyHour': 'True',
   'BusinessAcceptsBitcoin': 'False',
   'RestaurantsPriceRange2': '2',
   'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",
   'HasTV': 'True',
   'Alcohol': "'beer_and_wine'",
   'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
   'DogsAllowed': 'False',
   'RestaurantsTakeOut': 'True',
   'NoiseLevel': "u'average'",
   'RestaurantsAttire': "'casual'",
   'RestaurantsDelivery': 'None'},
  'categories': 'Gastropubs, Food, Beer Gardens, Restaurants, Bars, American (Traditional), Beer Bar, Nightlife, Breweries',
  'hours': {'Monday': '11:0-23:0',
   'Tuesday': '11:0-23:0',
   'Wednesday': '11:0-23:0',
   'Thursday': '11:0-23:0',
   'Friday': '11:0-23:0',
   'Saturday': '11:0-23:0',
   'Sunday': '11:0-23:0'}},
 {'business_id': 'tCbdrRPZA0oiIYSmHG3J0w',
  'name': 'Flying Elephants at PDX',
  'address': '7000 NE Airport Way',
  'city': 'Portland',
  'state': 'OR',
  'postal_code': '97218',
  'latitude': 45.5889058992,
  'longitude': -122.5933307507,
  'stars': 4.0,
  'review_count': 126,
  'is_open': 1,
  'attributes': {'RestaurantsTakeOut': 'True',
   'RestaurantsAttire': "u'casual'",
   'GoodForKids': 'True',
   'BikeParking': 'False',
   'OutdoorSeating': 'False',
   'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}",
   'Caters': 'True',
   'RestaurantsReservations': 'False',
   'RestaurantsDelivery': 'False',
   'HasTV': 'False',
   'RestaurantsGoodForGroups': 'False',
   'BusinessAcceptsCreditCards': 'True',
   'NoiseLevel': "u'average'",
   'ByAppointmentOnly': 'False',
   'RestaurantsPriceRange2': '2',
   'WiFi': "u'free'",
   'BusinessParking': "{'garage': True, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
   'Alcohol': "u'beer_and_wine'",
   'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': True}"},
  'categories': 'Salad, Soup, Sandwiches, Delis, Restaurants, Cafes, Vegetarian',
  'hours': {'Monday': '5:0-18:0',
   'Tuesday': '5:0-17:0',
   'Wednesday': '5:0-18:0',
   'Thursday': '5:0-18:0',
   'Friday': '5:0-18:0',
   'Saturday': '5:0-18:0',
   'Sunday': '5:0-18:0'}},
 {'business_id': 'bvN78flM8NLprQ1a1y5dRg',
  'name': 'The Reclaimory',
  'address': '4720 Hawthorne Ave',
  'city': 'Portland',
  'state': 'OR',
  'postal_code': '97214',
  'latitude': 45.5119069956,
  'longitude': -122.6136928797,
  'stars': 4.5,
  'review_count': 13,
  'is_open': 1,
  'attributes': {'BusinessAcceptsCreditCards': 'True',
   'RestaurantsPriceRange2': '2',
   'ByAppointmentOnly': 'False',
   'BikeParking': 'False',
   'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"},
  'categories': 'Antiques, Fashion, Used, Vintage & Consignment, Shopping, Furniture Stores, Home & Garden',
  'hours': {'Thursday': '11:0-18:0',
   'Friday': '11:0-18:0',
   'Saturday': '11:0-18:0',
   'Sunday': '11:0-18:0'}}]

In [21]:
austin_lst = []
for res in res_lst:
    if res["city"] == "Austin":
        austin_lst.append(res)

In [23]:
len(austin_lst)

22416

In [36]:
"1" in austin_lst[2400]["categories"]

False

In [42]:
only_res = []
for res in austin_lst:
    for key, value in res.items():
        if key == "categories":
            if value is not None:
                if "Restaurants" in value:
                    only_res.append(res)

In [44]:
len(only_res)

4957

In [85]:
only_res[3]

{'business_id': 'z-0oY7VxQMQw3JHvdPejrA',
 'name': 'Olmecas Mexican Restaurant',
 'address': '2121 E Oltorf St',
 'city': 'Austin',
 'state': 'TX',
 'postal_code': '78741',
 'latitude': 30.230016,
 'longitude': -97.7326393,
 'stars': 3.0,
 'review_count': 21,
 'is_open': 0,
 'attributes': {'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
  'RestaurantsAttire': "'casual'",
  'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
  'BYOBCorkage': "'no'",
  'WiFi': "'no'",
  'RestaurantsTakeOut': 'True',
  'OutdoorSeating': 'False',
  'BusinessAcceptsCreditCards': 'True',
  'Alcohol': "u'full_bar'",
  'RestaurantsPriceRange2': '1',
  'NoiseLevel': "u'quiet'",
  'HasTV': 'True',
  'RestaurantsGoodForGroups': 'True',
  'RestaurantsReservations': 'False',
  'GoodForKids': 'True',
  'RestaurantsDelivery': 'False',
  'HappyHour': 'True',
  'BikeParking': 'True'},
 'categories': 'Coffee & Tea, Tex-Mex, Restaurants, Mexican, Food',
 'hours': {'Monday': '7:0-23:30',
  'Tuesday': '7:0-23:30',
  'Wednesday': '7:0-23:30',
  'Thursday': '7:0-23:30',
  'Friday': '7:0-23:30',
  'Saturday': '7:0-23:30',
  'Sunday': '7:0-23:30'}}

In [47]:
max_key = set()
for res in only_res:
    for key in res.keys():
        if key not in max_key:
            max_key.add(key)

In [48]:
max_key

{'address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'postal_code',
 'review_count',
 'stars',
 'state'}

In [50]:
max_attribute = set()
for res in only_res:
    for key, value in res.items():
        if key == "attributes":
            if value is notn 
            for sub_a in value:
                max_attribute.add(sub_a)

In [133]:
max_attribute

{'AcceptsInsurance',
 'AgesAllowed',
 'Alcohol',
 'Ambience',
 'BYOB',
 'BYOBCorkage',
 'BestNights',
 'BikeParking',
 'BusinessAcceptsBitcoin',
 'BusinessAcceptsCreditCards',
 'BusinessParking',
 'ByAppointmentOnly',
 'Caters',
 'CoatCheck',
 'Corkage',
 'DietaryRestrictions',
 'DogsAllowed',
 'DriveThru',
 'GoodForDancing',
 'GoodForKids',
 'GoodForMeal',
 'HappyHour',
 'HasTV',
 'Music',
 'NoiseLevel',
 'Open24Hours',
 'OutdoorSeating',
 'RestaurantsAttire',
 'RestaurantsCounterService',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'RestaurantsPriceRange2',
 'RestaurantsReservations',
 'RestaurantsTableService',
 'RestaurantsTakeOut',
 'Smoking',
 'WheelchairAccessible',
 'WiFi'}

In [80]:
food_type = []
for res in only_res:
#     if "attributes" in res.keys():
#     if res["attributes"] is not None:
    value = res['categories']
    if value is not None:
        lst = value.split(", ")
    for typ in lst:
        food_type.append(typ)

In [77]:
'Food Trucks, Restaurants, Specialty Food, Food, Mexican, Ethnic Food'.split(", ")

['Food Trucks',
 'Restaurants',
 'Specialty Food',
 'Food',
 'Mexican',
 'Ethnic Food']

In [131]:
food_type[:3]

['Food Trucks', 'Restaurants', 'Specialty Food']

In [67]:
all_c = []
for i in only_res:
    if i['categories'] is not None:
        all_c.append(i['categories'].split(', '))

In [68]:
category = []
for i in all_c:
    for j in i:
        category.append(j)

In [69]:
from collections import Counter

In [130]:
sorted(Counter(category).items(),key=lambda item:item[1],reverse=True)[:3]

[('Restaurants', 4957), ('Food', 2086), ('Mexican', 885)]

In [82]:
count = 0
for res in only_res:
#     if "attributes" in res.keys():
#     if res["attributes"] is not None:
    value = res['hours']
    if value is None:
        count += 1

In [83]:
count

714

In [100]:
count = 0
for res in only_res:
#     if "attributes" in res.keys():
#     if res["attributes"] is not None:
    pr = res['attributes']
    if pr is not None:
        if "RestaurantsPriceRange2" in pr.keys():
            if pr["RestaurantsPriceRange2"] is not None:
                count += 1
#     if pr['WiFi'] is not None:
#         count += 1

In [101]:
count

4340

In [102]:
count = 0
for res in only_res:
#     if "attributes" in res.keys():
#     if res["attributes"] is not None:
    pr = res['attributes']
    if pr is not None:
        if "WiFi" in pr.keys():
            if pr["WiFi"] is not None:
                count += 1
#     if pr['WiFi'] is not None:
#         count += 1

In [103]:
count

3723

In [104]:

count = 0
for res in only_res:
#     if "attributes" in res.keys():
#     if res["attributes"] is not None:
    pr = res['attributes']
    if pr is not None:
        if "RestaurantsDelivery" in pr.keys():
            if pr["RestaurantsDelivery"] is not None:
                count += 1
#     if pr['WiFi'] is not None:
#         count += 1

In [105]:
count

4573

In [ ]:
target = ["American (Traditional)" American (New); Burger; Pizza; Sandwiches; Salad; Hot Dogs; Chicken Wings
Fast Food; Food Trucks; Food Stands
Coffee & Tea; Cafe; Desserts; Bakeries; Ice Cream & Frozen Yogurt
Chinese
Mexican; Tex-Mex; Tacos
Japanese; Sushi Bars
Italian
Thai; Vietnamese
Vegetarian; Vegan
Brunch
Bar; Cocktail Bars; Beer; Wine & Spirits
Others
]

In [180]:
final_result = []
for res in only_res:
    lst = []
    lst.append(res["business_id"])
    lst.append(res["name"])
    lst.append(res["address"])
    lst.append(res["city"])
    lst.append(res["postal_code"])
    lst.append(res["stars"])
    lst.append(res["review_count"])
    if res["categories"] is not None:
        string = res["categories"].lower()
        cate_lst = string.split(", ")
        lst.append(len(cate_lst))
        if "american" in cate_lst or "burger" in cate_lst or "pizza" in cate_lst or "sandwiches" in cate_lst or "salad" in cate_lst or "hot dog" in cate_lst or "chicken wings" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "fast food" in cate_lst or "food trucks" in cate_lst or "food stands" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "coffee & tea" in cate_lst or "cafe" in cate_lst or "desserts" in cate_lst or "bakeries" in cate_lst or "ice cream & frozen yogurt":
            lst.append(1)
        else:
            lst.append(0)
        if "chinese" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "mexican" in cate_lst or "tex-mex" in cate_lst or "tacos" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "japanese" in cate_lst or "sushi bars" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "italian" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "thai" in cate_lst or "vietnames" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "brunch" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "bar" in cate_lst or "cocktail bars" in cate_lst or "beer" in cate_lst or "wine & spirits" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
    
    if res["attributes"] is not None:
        if "RestaurantsPriceRange2" in res["attributes"].keys():
            lst.append(res["attributes"]["RestaurantsPriceRange2"])
        else:
            lst.append(None)
        if "RestaurantsDelivery" in res["attributes"].keys():
            if res["attributes"]["RestaurantsDelivery"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "OutdoorSeating" in res["attributes"].keys():
            if res["attributes"]["OutdoorSeating"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "RestaurantsTakeOut" in res["attributes"].keys():
            if res["attributes"]["RestaurantsTakeOut"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "RestaurantsReservations" in res["attributes"].keys():
            if res["attributes"]["RestaurantsReservations"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "WiFi" in res["attributes"].keys():
            if res["attributes"]["WiFi"] == "Yes":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "BikeParking" in res["attributes"].keys():
            if res["attributes"]["BikeParking"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        
        if "BusinessParking" in res["attributes"].keys():
            if "True" in res["attributes"]["BusinessParking"]:
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
    else:
        for i in range(8):
            lst.append(0)
            
    final_result.append(lst)

In [181]:
final_result[:3]

[['Xw8tuI30T-xihpzwBV-zJg',
  'El Pollo Rey',
  '1725 E Riverside Dr',
  'Austin',
  '78741',
  5.0,
  11,
  6,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  '1',
  0,
  1,
  1,
  0,
  0,
  1,
  0],
 ['NRPemqVb4qpWFF0Avq_6OQ',
  'Eurasia Sushi Bar & Seafood',
  '7101 W Hwy 71, Ste C-13',
  'Austin',
  '78735',
  4.5,
  395,
  6,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  '2',
  1,
  0,
  1,
  1,
  0,
  0,
  1],
 ['bRsDZ44CD3uhGnRY3NeQhQ',
  "Wendy's",
  '6247 Mcneil Drive',
  'Austin',
  '78729',
  2.0,
  46,
  3,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  '1',
  1,
  0,
  1,
  0,
  0,
  1,
  1]]

In [113]:
count = 0
for res in only_res:
    if res["stars"] is not None:
        count += 1

In [137]:
count

4957

In [138]:
import pandas as pd
df_population = pd.read_csv("date_update.csv")
density_dict = {}
for index, row in df_population.iterrows():
    density_dict[row["Zip Code"]] = row["People / Sq. Mile"]

In [471]:
df_population[:8]

,#,Zip Code,Location,City,Population,People / Sq. Mile,National Rank
0,1.0,78705,"30.293474, -97.738268","Austin, Texas","26,825","11,008.66",#519
1,2.0,78751,"30.310819, -97.722821","Austin, Texas","14,005","5,822.28","#1,374"
2,3.0,78752,"30.331288, -97.704660","Austin, Texas","18,030","5,435.92","#1,528"
3,4.0,78741,"30.229845, -97.715136","Austin, Texas","40,661","5,346.47","#1,562"
4,5.0,78723,"30.305341, -97.683344","Austin, Texas","30,110","5,175.95","#1,640"
5,6.0,78704,"30.243128, -97.765874","Austin, Texas","43,249","5,001.96","#1,713"
6,7.0,78758,"30.387634, -97.705310","Austin, Texas","42,820","4,954.80","#1,730"
7,8.0,78702,"30.263909, -97.714495","Austin, Texas","22,534","4,501.98","#2,015"

In [184]:
#add desity
for sublist in final_result:
    for key in density_dict.keys():
        if str(key) == sublist[4]:
            sublist.append(density_dict[key])
for sublist in final_result:
    if len(sublist) != 27:
        sublist.append(None)

In [185]:
test3 = set()
for sub in final_result:
    test3.add(len(sub))

In [186]:
test3

{27}

In [155]:
len(final_result[3])

27

In [158]:
count = 0
for sublist in final_result:
    if sublist[-1] == None:
        count += 1

In [159]:
count

844

In [148]:
df_attractions = pd.read_csv("num_attractions.csv", header = None)

In [465]:
df_attractions.columns=["zipcode","attractions_number"]

In [468]:
df_attractions[:8]

   zipcode  attractions_number
0    78705                  17
1    78701                  70
2    78723                   9
3    78712                  13
4    78703                  24
5    78704                  50
6    78751                  10
7    78754                   2

In [160]:
attract_dict = {}
for index, row in df_attractions.iterrows():
    attract_dict[row[0]] = row[1]

In [161]:
attract_dict

{78705: 17,
 78701: 70,
 78723: 9,
 78712: 13,
 78703: 24,
 78704: 50,
 78751: 10,
 78754: 2,
 78702: 26,
 78759: 10,
 78744: 5,
 78746: 15,
 78753: 2,
 78758: 6,
 78721: 4,
 78757: 6,
 78756: 11,
 78731: 12,
 78748: 2,
 78752: 6,
 78724: 3,
 78719: 9,
 78745: 8,
 78722: 1,
 78741: 2,
 78737: 6,
 78734: 1,
 78732: 4,
 78617: 2,
 78738: 1,
 78739: 1,
 78750: 2,
 78736: 1,
 78663: 1,
 78730: 3,
 78733: 1,
 78725: 1,
 78798: 1,
 78749: 2,
 78735: 1,
 78726: 1}

In [187]:
for sublist in final_result:
    for key in attract_dict.keys():
        if str(key) == sublist[4]:
            sublist.append(attract_dict[key])
for sublist in final_result:
    if len(sublist) != 28:
        sublist.append(0)
final_result[:3]

[['Xw8tuI30T-xihpzwBV-zJg',
  'El Pollo Rey',
  '1725 E Riverside Dr',
  'Austin',
  '78741',
  5.0,
  11,
  6,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  '1',
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  '5,346.47',
  2],
 ['NRPemqVb4qpWFF0Avq_6OQ',
  'Eurasia Sushi Bar & Seafood',
  '7101 W Hwy 71, Ste C-13',
  'Austin',
  '78735',
  4.5,
  395,
  6,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  '2',
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  '474.14',
  1],
 ['bRsDZ44CD3uhGnRY3NeQhQ',
  "Wendy's",
  '6247 Mcneil Drive',
  'Austin',
  '78729',
  2.0,
  46,
  3,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  '1',
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  '2,366.94',
  0]]

In [189]:
import csv
with open("regression.csv", 'w') as f:  
    writer = csv.writer(f)
    for sublist in final_result:
        writer.writerow(sublist)

In [190]:
df_regression = pd.read_csv("regression.csv", header = None)

In [221]:
df_regression.columns = ["business_id","name","address","city","postal_code","stars","review_count",
                         "category_number", "american","fast food","coffee & tea","chinese",
                         "mexican","japanese","italian","thai","brunch","bar","price_range",
                         "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                         "WiFi","BikeParking","BusinessParking","density","attractions"]

In [363]:
df_regression.describe().iloc[:,6:]

,coffee & tea,chinese,mexican,japanese,italian,thai,brunch,bar,RestaurantsDelivery,OutdoorSeating,RestaurantsTakeOut,RestaurantsReservations,WiFi,BikeParking,BusinessParking,attractions
count,4957.0,4957.000000,4957.000000,4957.00000,4957.000000,4957.000000,4957.0,4957.000000,4957.000000,4957.000000,4957.000000,4957.000000,4957.0,4957.000000,4957.000000,4957.000000
mean,1.0,0.046601,0.198911,0.04539,0.046197,0.025620,0.0,0.060319,0.469841,0.530361,0.865241,0.226750,0.0,0.576760,0.765181,20.670769
std,0.0,0.210803,0.399221,0.20818,0.209933,0.158016,0.0,0.238100,0.499140,0.499128,0.341500,0.418772,0.0,0.494123,0.423929,23.033824
min,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,1.000000,4.000000
50%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,10.000000
75%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,26.000000
max,1.0,1.000000,1.000000,1.00000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,70.000000

In [201]:
# star_type = []
# star_count = []
# for key, value in dict(df_regression.stars.value_counts()).items():
#     star_type.append(key)
#     star_count.append(value)

In [214]:
from bokeh.plotting import figure
from bokeh.io import show
def ploting_star_all_restaurant():
    star_type = []
    star_count = []
    for key, value in dict(df_regression.stars.value_counts()).items():
        star_type.append(key)
        star_count.append(value)
    plot_star = figure(title="Rating distribution of restaurants in Austin",
                       x_axis_label='Ratings',
                       y_axis_label='Frequency')
    plot_star.vbar(x=star_type, top=star_count, width=0.5, fill_color='pink', line_color='pink')
    plot_star.grid.visible = False
    show(plot_star)

In [447]:
ploting_star_all_restaurant()

In [206]:
list(range(5))

[0, 1, 2, 3, 4]

In [219]:
def ploting_star_each_category(rest_type):
    star_type = []
    star_count = []
    for key, value in dict(df_regression[df_regression[rest_type]==1].stars.value_counts()).items():
        star_type.append(key)
        star_count.append(value)
    plot_star = figure(title="Rating distribution of {} restaurants in Austin".format(rest_type),
                       x_axis_label='Ratings',
                       y_axis_label='Frequency')
    plot_star.vbar(x=star_type, top=star_count, width=0.5, fill_color='pink', line_color='pink')
    plot_star.grid.visible = False
    show(plot_star)

In [218]:
df_regression[df_regression["american"]==1].stars.value_counts()

4.0    288
3.5    269
4.5    213
3.0    180
2.5    106
2.0     76
5.0     38
1.5     28
1.0      2
Name: stars, dtype: int64

In [448]:
##plotting american restaurants
ploting_star_each_category("american")

In [238]:
def ploting_price():
    price_type = []
    price_count = []
    for key, value in dict(df_regression.price_range.value_counts()).items():
        price_type.append(key)
        price_count.append(value)
    plot_price = figure(title="price distribution of restaurants in Austin",
                       x_axis_label='price range',
                       y_axis_label='Frequency')
    plot_price.vbar(x=price_type[:-1], top=price_count[:-1], width=0.5, fill_color="#cab2d6", line_color="#cab2d6")
    plot_price.grid.visible = False
    show(plot_price)

In [240]:
ploting_price()

In [253]:
df_regression.price_range.value_counts()

1       2387
2       1798
3        133
0         46
4         20
None       2
Name: price_range, dtype: int64

In [243]:
price_type = []
price_count = []
for key, value in dict(df_regression.price_range.value_counts()).items():
    price_type.append(key)
    price_count.append(value)

In [244]:
price_type

['1', '2', '3', '0', '4', 'None']

In [245]:
price_count

[2387, 1798, 133, 46, 20, 2]

In [449]:
from math import pi
import pandas as pd
from bokeh.palettes import Category20c
from bokeh.plotting import figure, show
from bokeh.transform import cumsum

x = dict(df_regression.price_range.value_counts())

data = pd.Series(x).reset_index(name='value').rename(columns={'index': 'price_level'})
data['angle'] = data['value']/data['value'].sum() * 2*pi
data['color'] = Category20c[len(x)]

p = figure(height=350, title="Pie Chart", toolbar_location=None,
           tools="hover", tooltips="@price_level: @value", x_range=(-0.5, 1.0))

p.wedge(x=0, y=1, radius=0.4,
        start_angle=cumsum('angle', include_zero=True), end_angle=cumsum('angle'),
        line_color="white", fill_color='color', legend_field='price_level', source=data)

p.axis.axis_label = None
p.axis.visible = False
p.grid.grid_line_color = None

show(p)

In [255]:
import statsmodels.api as sm

In [331]:
import numpy as np
from sklearn.preprocessing import StandardScaler

In [348]:
X = df_clean[["review_count","category_number", "american","fast food","coffee & tea","chinese",
                    "mexican","japanese","italian","thai","brunch","bar","price_range",
                    "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                    "WiFi","BikeParking","BusinessParking","density_clean","attractions"]]
y = df_clean["stars"]
scaler = StandardScaler()
X = scaler.fit_transform(X)
y = y[np.newaxis,:]
X = sm.add_constant(X)
model = sm.OLS(y.flatten(), X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     30.63
Date:                Sat, 05 Mar 2022   Prob (F-statistic):          9.50e-104
Time:                        22:55:06   Log-Likelihood:                -4544.7
No. Observations:                4266   AIC:                             9129.
Df Residuals:                    4246   BIC:                             9256.
Df Model:                          19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.6204      0.011    335.983      0.000       3.599       3.641
x1             0.0744      0.012      6.217      0.000       0.051       0.098
x2             0.1187      0.013      9.226      0.000       0.093       0.144
x3            -0.0828      0.012     -7.030      0.000      -0.106      -0.060
x4            -0.0041      0.012     -0.344      0.731      -0.028       0.019
x5          9.713e-18   4.74e-18      2.047      0.041    4.11e-19     1.9e-17
x6            -0.0376      0.011     -3.319      0.001      -0.060      -0.015
x7             0.0029      0.011      0.252      0.801      -0.019       0.025
x8             0.0203      0.011      1.818      0.069      -0.002       0.042
x9             0.0045      0.011      0.401      0.688      -0.018       0.027
x10            0.0079      0.011      0.727      0.467      -0.013       0.029
x11         1.991e-17   4.86e-18      4.095      0.000    1.04e-17    2.94e-17
x12           -0.0223      0.012     -1.813      0.070      -0.046       0.002
x13           -0.0157      0.013     -1.178      0.239      -0.042       0.010
x14           -0.0894      0.012     -7.765      0.000      -0.112      -0.067
x15            0.0607      0.012      5.243      0.000       0.038       0.083
x16           -0.0216      0.012     -1.876      0.061      -0.044       0.001
x17           -0.0047      0.013     -0.370      0.712      -0.029       0.020
x18         7.128e-18    2.8e-18      2.545      0.011    1.64e-18    1.26e-17
x19            0.0746      0.012      6.261      0.000       0.051       0.098
x20            0.0370      0.012      3.155      0.002       0.014       0.060
x21            0.0435      0.011      3.970      0.000       0.022       0.065
x22            0.0439      0.011      3.913      0.000       0.022       0.066
==============================================================================
Omnibus:                      147.143   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              161.822
Skew:                          -0.471   Prob(JB):                     7.26e-36
Kurtosis:                       3.147   Cond. No.                     5.33e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

<ipython-input-348-626e6ed944fb>:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y = y[np.newaxis,:]

In [360]:
np.mean(X, axis=0)

array([ 1.00000000e+00,  9.99356872e-18,  7.99485497e-17, -3.74758827e-17,
        1.91543400e-17,  0.00000000e+00,  3.16463009e-17,  2.83151114e-17,
        3.16463009e-17,  1.66559479e-18, -5.57974253e-17,  0.00000000e+00,
       -4.66366540e-17,  1.04516073e-16,  4.33054644e-17, -4.99678436e-18,
        1.04932472e-16,  5.82958175e-17,  0.00000000e+00,  2.41511244e-17,
       -1.31581988e-16, -2.96475872e-16,  5.32990332e-17])

In [462]:
len(np.around(model.params,2))
column_names = ["review_count","category_number", "american","fast food","coffee & tea","chinese",
                    "mexican","japanese","italian","thai","brunch","bar","price_range",
                    "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                    "WiFi","BikeParking","BusinessParking","density_clean","attractions"]

In [464]:

for coef in np.around(model.params,2)[1:]:

22

In [288]:
df_clean = df_regression.replace(to_replace = "None", value = np.nan).dropna()

In [291]:
df_clean = df_clean.reset_index()

In [486]:
df_clean.describe().iloc[:,4:]

,category_number,american,fast food,coffee & tea,chinese,mexican,japanese,italian,thai,brunch,...,price_range,RestaurantsDelivery,OutdoorSeating,RestaurantsTakeOut,RestaurantsReservations,WiFi,BikeParking,BusinessParking,attractions,density_clean
count,4266.000000,4266.000000,4266.000000,4266.0,4266.000000,4266.000000,4266.000000,4266.000000,4266.000000,4266.0,...,4266.000000,4266.000000,4266.000000,4266.000000,4266.000000,4266.0,4266.000000,4266.000000,4266.000000,4266.000000
mean,4.988983,0.248008,0.251524,1.0,0.048054,0.200891,0.045945,0.048992,0.027895,0.0,...,1.477028,0.471167,0.546414,0.889358,0.242382,0.0,0.612752,0.814112,20.951477,3995.218226
std,2.527063,0.431907,0.433940,0.0,0.213906,0.400713,0.209390,0.215877,0.164691,0.0,...,0.597032,0.499227,0.497899,0.313725,0.428574,0.0,0.487178,0.389062,23.035082,2341.440648
min,1.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,93.880000
25%,3.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,1.000000,4.000000,2326.650000
50%,5.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,10.000000,4063.220000
75%,6.000000,0.000000,1.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,2.000000,1.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,26.000000,5001.960000
max,27.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,...,4.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,70.000000,11008.660000

In [292]:
density_clean = []
for index, row in df_clean.iterrows():
    density_clean.append(float(row["density"].replace(",","")))

In [293]:
density_clean[-10:]

[5435.92,
 4298.8,
 5001.96,
 5001.96,
 416.13,
 3491.54,
 4063.22,
 5001.96,
 4063.22,
 1731.01]

In [294]:
for index, row in df_clean.iterrows():
    df_clean.loc[index,"density_clean"] = density_clean[index]

In [327]:
df_clean['price_range'] = df_clean['price_range'].astype(float)

In [375]:
features = ["category_number", "american","fast food","coffee & tea","chinese",
                    "mexican","japanese","italian","thai","brunch","bar","price_range",
                    "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                    "WiFi","BikeParking","BusinessParking"]

In [476]:
def get_varible():
    density_avg = 3995.22
    attractions_avg = 20.95
    review_count_avg = 157.6
    variable = []
    variable.append(review_count_avg)
    for feature in features:
        fea = input("please input value for {}: ".format(feature))
        variable.append(int(fea))
    check = input("Do you have a preferred neighborhood? True or False?")
    if check != "True":
        variable.append(density_avg)
        variable.append(attractions_avg)
    else:
        zipcode = input("Where do you prefer?")
        if int(zipcode) in density_dict.keys():
            variable.append(float(density_dict[int(zipcode)].replace(",","")))
        else:
            variable.append(density_avg)
        if int(zipcode) in attract_dict.keys():
            variable.append(attract_dict[int(zipcode)])
        else:
            variable.append(attractions_avg)
    return variable

In [480]:
def get_predict_rating():
    variables_lst = get_varible()
    X_variable = np.array(variables_lst)[np.newaxis,:]
    X_trans = scaler.transform(X_variable)
    X_trans = np.insert(X_trans,0,[1])
    pred_rate = model.predict(X_trans)
    return print("The possible rating is: {}".format(pred_rate[0]))

In [481]:
get_predict_rating()

please input value for category_number: 5
please input value for american: 1
please input value for fast food: 1
please input value for coffee & tea: 1
please input value for chinese: 0
please input value for mexican: 0
please input value for japanese: 0
please input value for italian: 0
please input value for thai: 0
please input value for brunch: 1
please input value for bar: 0
please input value for price_range: 2
please input value for RestaurantsDelivery: 1
please input value for OutdoorSeating: 1
please input value for RestaurantsTakeOut: 1
please input value for RestaurantsReservations: 0
please input value for WiFi: 1
please input value for BikeParking: 1
please input value for BusinessParking: 1
Do you have a preferred neighborhood? True or False?True
Where do you prefer?78756
The possible rating is: 3.475818195204015

In [ ]:
get_predict_rating()

#